# Register a DataSet

- Connect to the Workspace
- Upload the Titanic files 
- Register the files as a DataSet (for later user)

In [ ]:
import azureml.core
from azureml.core import Workspace

ws = Workspace.from_config()

Check AzureML - UI: which DataStores are available?

In [ ]:
datastore = ws.get_default_datastore()

print(datastore.name)
print(datastore.path())

### Upload Data

In [ ]:
datastore.upload_files(files = ['../../datasets/titanic/train.csv'],
                       target_path = 'train-dataset/titanic',
                       overwrite = False,
                       show_progress = True)

### Register DataSet

In [16]:
from azureml.core import Dataset

# Does it already exists (no error)?
titanic_ds = Dataset.get_by_name(ws, name="titanic_ds")

In [ ]:
# Register dataset:
titanic_ds = Dataset.Tabular.from_delimited_files(path=[(datastore, 'train-dataset/titanic/train.csv')])

titanic_ds = titanic_ds.register(
    workspace = ws,
    name = 'titanic_ds',
    description = 'titanic training data',
    create_new_version = False)

In [19]:
titanic_ds.take(5).to_pandas_dataframe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,,S

- Check the AzureML UI - Datasets: Can you view the details of the `titanic_ds` dataset?
- Check the documentation. What are the possibilities and differences between [Tabular Datasets](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.tabulardataset) and [File DataSets](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.filedataset)